[submodule "nauth-react"]
	path = nauth-react
	url = https://github.com/emaginebr/nauth-react.git
[submodule "nnews-react"]
	path = nnews-react
	url = https://github.com/emaginebr/nnews-react.git
[submodule "BazzucaMedia"]
	path = BazzucaMedia
	url = https://github.com/emaginebr/BazzucaMedia.git
[submodule "NAuth"]
	path = NAuth
	url = https://github.com/emaginebr/NAuth
[submodule "zTools"]
	path = zTools
	url = https://github.com/emaginebr/zTools
[submodule "NNews"]
	path = NNews
	url = https://github.com/emaginebr/NNews
